[submodule "leoecs"]
	path = leoecs
	url = git@github.com:Leopotam/ecs.git
[submodule "ecs-ui"]
	path = ecs-ui
	url = git@github.com:VirtualMaestro/ecs-ui.git
[submodule "ecs-unityintegration"]
	path = ecs-unityintegration
	url = git@github.com:VirtualMaestro/ecs-unityintegration-community.git
